@media all and (max-width: 1000px) {
  .heading h2 {
    font-size: 20px;
  }

  input, textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid;
  border-color: #dee7ec;
}

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  ul {
        position: static;
        display: none;
        margin: auto;
    }

    li {
        margin-bottom: 1px;
    }

    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display:block;
    }

    .footer-logo {
        font-size: 15px;
    }

    .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .about-wrapper{
    margin-bottom: 350px;
  }

  .lesson{
    width:100%;
  }

  .main{
    width: 100%;
  }

  .lesson-wrapper{
    width: 100%;
  }

  input, textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid;
  border-color: #dee7ec;
}
  
  .instagram {
    margin: 8px 0px;
  }
}
