* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.fa {
    display: inline-block;
}

.container {
  /*max-width: 1348px;
  width: 100%;
  padding: 0 15px;
  margin: 8px auto;*/
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


header {
  height: 72px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 72px;
}

.logo-menu {
  float: right;
}

.header-left {
  float: left;
}

.header-right {
}

.header-right a {
  line-height: 50px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

li a {
    display:block;
    min-width:140px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: rgba(34, 49, 52, 0.9);
    text-decoration: none;
}

li:hover a {
    background: #19c589;
}

li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: rgba(34, 49, 52, 0.9);
    text-align: center;
    display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

.top-wrapper {
  padding: 300px 0 100px 0;
  background-image: url(https://get.pxhere.com/photo/apple-mouse-artificial-flowers-blurred-background-close-up-coffee-cup-contemporary-cup-desk-device-display-electronics-equipment-focus-indoors-keyboard-laptop-magic-mouse-modern-portable-screen-table-technology-wireless-workplace-workspace-1555061.jpg);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.container span {
  font-size: 20px;
}

.digitalent {
  background-color: #2c4736;
}

.progate {
  background-color: #2c4736;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}



.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}





/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  font-size: 26px;
  padding: 21px 0;
  display:  none
}



.footer-logo {
  float: left;
  color: white;
  font-weight: bold;
  line-height: 68px;
  margin: 0;
  padding: 0;
}
footer {
    position: relative;
    margin-top: 48px;
    height: 68px;
    clear: both;
    background-color: rgba(34, 49, 52, 0.9);
}

.social-icons {
  float: right;
}

.social-icons a {
    font-size: 22px;
    color: #fff;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}
